%page-heading {
  font-size: 5rem;
  font-family: "Flavors-Regular";
  text-align: center;
  color: $white;
  background-color: $sec-dark;
  width: fit-content;
  margin: auto;
  padding: 30px;
  border-radius: 480px 45px 225px 75px/15px 225px 15px 255px;
  position: relative;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
