// Start Global styling
// .main{
//   overflow-x: hidden;
//   overflow-y: hidden;
// }
.section-title {
  h2 {
    background-color: #d12881;
    color: #fff;
    font-family: BubblegumSans-Regular;
    border-radius: 50%;
    padding: 30px;
    transform-origin: left center;
    transform: rotate(3deg);
  }
  .child-icon {
    font-size: 2.5rem;
    color: #ec9600;
    top: -15px;
  }
}
.carousel-indicators [data-bs-target] {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  background-color: orange;
  border-radius: 50%;
}
// End Global styling
