@import "../../assets/styles/base/variables";
.toTopIcon {
  background-color: $primary;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: -5rem;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border-radius: 50%;
  color: #fff;
  transition: 300ms;
  &:hover {
    background-color: $sec-light;
    color: #fff;
  }
}
